<header id="second-header" class="secondary"></header>
<section id="proposal">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">The Proposal</h2>
            <hr class="primary">
            <p>
                Three years in, and it was Time. Dandelion and Aiden spent time designing their engagement bands,
                which were thoughtfully and lovingly crafted by Dandelion's parents, Russ &amp; KK Jones.
            </p>
            <p>
                Dandelion made a very thorough, very romantic plan. They would propose on the official 3 year anniversary
                of their relationship with Aiden, after a wonderful day of relaxing adventures, while stargazing after dinner.
            </p>
            <p>
                The day began as it should, with breakfast at Lucille's (as was their anniversary tradition),
                getting manicures (common enough on anniversaries that Aiden didn't suspect it was for a reason),
                and an afternoon spent at a spa getting massages together (Aiden's unsuspecting, but perfect, idea).
                This, however, was where the very careful plan Dandelion had pulled together promptly fell apart.
            </p>
            <p>
                They had planned to do hotpot together for dinner, a cozy, shared meal on a cold winter day&mdash;the
                perfect, romantic experience to set everything up for them to ask a very particular question.
                This plan was thwarted by a very long wait list at a restaurant with no reservation options.
                They chose a different hotpot restaurant, and dinner was presided over by the smell of less than fresh fish.
                This was fine, they could still go stargazing, right?
            </p>
            <p>
                Wrong.
            </p>
            <p>
                A snowstorm had blown in, hiding the stars from view and making driving into the mountains a less advisable adventure.
                And so, Aiden and Dandelion headed to their newly purchased, unfurnished, half painted home to feed two very impatient
                dogs their dinner, Dandelion all the while trying to come up with a new plan and sure that Aiden had caught on to
                what was actually going on.
            </p>
            <p>
                Dandelion proposed in that new, unfurnished, half painted house, in front of the back door,
                having forgotten about 70% of their speech. And Aiden? Well he was somehow still surprised.
                (Don't worry, he still said yes!)
            </p>
            <p>
                Aiden and Dandelion ended their imperfectly perfect night with cigars and whiskey at a local lounge,
                where Aiden was congratulated many times on catching someone who thought cigars and whiskey were a good way to celebrate.
            </p>
        </div>
    </div>
</section>
