<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Where It All Began</h2>
            <hr class="light">
            <p>
                Once upon a time, in a land ruled by digital dating sites, two people met on OKCupid&hellip;
                And somehow spent the first 6 months of their relationship "definitely not dating" while going out to dinner
                and talking about themselves, their likes and dislikes, their interests, and sharing many an adventure.
            </p>
            <p>
                Finally, Dandelion got the courage to plan something big and romantic the day after Valentine's Day in 2022,
                and took Aiden ice skating, after which the two couldn't bear to part, and spent the next several hours
                exploring downtown Lafayette, CO and cozying up in a bookstore/wine bar.
            </p>
            <p>
                At the end of the night, Aiden asked Dandelion, "Was that a date?"
            </p>
            <p>
                And Dandelion replied, "I'd like that."
            </p>
            <p>
                Aiden and Dandelion spent the next 3 years laying the foundation on which they hope to build the rest
                of their (very long) lives.
            </p>
        </div>
    </div>
</div>
