{% extends "base.html" %}
{% load static %}
{% block page_head %}
    <!-- Custom CSS -->
    <link href="{% static 'bigday/css/creative.css' %}" rel="stylesheet">
{% endblock %}
{% block page_content %}
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{ couple_name }}'s Wedding</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#main-header">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#save-the-date">Save the Date</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#story">Our Story</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#proposal">The Proposal</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    {% block main %}
    <header id="main-header">
        <div class="slideshow">
            <div class="slide" style="background-image: url('{% static 'bigday/images/adventures/IMG_20260208_180031_HDR.jpg' %}')"></div>
            <div class="slide" style="background-image: url('{% static 'bigday/images/adventures/IMG_20250816_101437_HDR.jpg' %}')"></div>
            <div class="slide" style="background-image: url('{% static 'bigday/images/adventures/20241031_200908.jpg' %}')"></div>
            <div class="slide" style="background-image: url('{% static 'bigday/images/adventures/20230604_162336.jpg' %}')"></div>
            <!-- <div class="slide" style="background-image: url('{% static 'bigday/images/adventures/20230325_141427.jpg' %}')"></div> -->
            <div class="slide" style="background-image: url('{% static 'bigday/images/adventures/20240622_114937.jpg' %}')"></div>
            <div class="slide" style="background-image: url('{% static 'bigday/images/adventures/20230710_194837.jpg' %}')"></div>
            <div class="slide" style="background-image: url('{% static 'bigday/images/adventures/signal-2022-07-26-14-41-27-525-3.jpg' %}')"></div>
            <div class="slide" style="background-image: url('{% static 'bigday/images/adventures/20220805_142442.jpg' %}')"></div>
            <div class="slide" style="background-image: url('{% static 'bigday/images/adventures/20230108_131036.jpg' %}')"></div>
            <div class="slide" style="background-image: url('{% static 'bigday/images/adventures/20240521_204451.jpg' %}')"></div>
            <div class="slide" style="background-image: url('{% static 'bigday/images/adventures/20230326_165729.jpg' %}')"></div>
            <div class="slide" style="background-image: url('{% static 'bigday/images/adventures/IMG_7389.JPG' %}')"></div>
        </div>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>The Quest Begins&hellip;</h1>
            </div>
        </div>
    </header>
    <section id="save-the-date" style="padding: 0; background-color: #EDEADF;">
        <div class="save-the-date-card" style="max-width: 600px; margin: 0 auto; background-color: #EDEADF; background-image: url('{% static 'bigday/images/SaveTheDateBackground.png' %}'); background-repeat: no-repeat; background-position: left center; background-size: auto 100%; padding: 40px 30px 40px 200px; text-align: center;">

            <!-- you are cordially invited to -->
            <p style="margin: 0 0 2px 0; font-size: 18px; color: #717450; font-weight: normal;">
                you are cordially invited to
            </p>

            <!-- SAVE THE DATE -->
            <p style="margin: 0 0 20px 0; font-family: 'Lightfoot', Georgia, 'Times New Roman', serif; color: #7B4369; font-weight: normal; line-height: 1.1;">
                <span class="save-date-large" style="font-size: 42px; letter-spacing: 2px; vertical-align: middle;">Save</span><span class="save-date-small" style="font-size: 22px; vertical-align: middle;"> the </span><span class="save-date-large" style="font-size: 42px; letter-spacing: 2px; vertical-align: middle;">Date</span>
            </p>

            <!-- the wedding of -->
            <p style="margin: 0 0 5px 0; font-size: 18px; color: #717450; font-weight: normal;">
                the wedding of
            </p>

            <!-- RONAN JO DANDELION JONES -->
            <p class="names" style="margin: 0 0 2px 0; font-family: 'Lightfoot', Georgia, 'Times New Roman', serif; font-size: 28px; color: #7B4369; font-weight: normal; letter-spacing: 1px; line-height: 1.2;">
                Ronan Jo<br>Dandelion Jones
            </p>

            <!-- and -->
            <p style="margin: 2px 0 5px 0; font-size: 18px; color: #717450; font-weight: normal;">
                and
            </p>

            <!-- AIDEN KRISTOPHER MCCLELLAND -->
            <p class="names" style="margin: 0 0 20px 0; font-family: 'Lightfoot', Georgia, 'Times New Roman', serif; font-size: 28px; color: #7B4369; font-weight: normal; letter-spacing: 1px; line-height: 1.2;">
                Aiden Kristopher<br>McClelland
            </p>

            <!-- will take place on -->
            <p style="margin: 0 0 2px 0; font-size: 18px; color: #717450; font-weight: normal;">
                will take place on
            </p>

            <!-- September 6th, 2026 -->
            <p class="date" style="margin: 0 0 2px 0; font-size: 26px; color: #7B4369; font-weight: bold;">
                September 6th, 2026
            </p>

            <!-- in Golden, Colorado -->
            <p class="location" style="margin: 0 0 10px 0; font-size: 22px; color: #7B4369; font-weight: bold;">
                in Golden, Colorado
            </p>

            <!-- formal invitation to follow -->
            <p style="margin: 0; font-size: 16px; color: #717450; font-weight: normal;">
                formal invitation to follow
            </p>

        </div>
    </section>
    <section class="no-padding" id="navigation" style="display: none;">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#story" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/adventures/20230108_131036.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Where It All Began
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#proposal" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/adventures/20230326_165729.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    The Proposal
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#more-to-follow" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/adventures/signal-2022-07-26-14-41-27-525-3.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    More To Follow
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="story" class="bg-dark">
        {% include 'partials/story.html' %}
    </section>
    {% include 'partials/proposal.html' %}
    <section id="more-to-follow" class="bg-primary">
        {% include 'partials/more-to-follow.html' %}
    </section>
    <section id="contact" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact Us!</h2>
                    <hr class="light">
                    <p>If you have any questions don't hesitate to reach out!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:{{ support_email }}">{{ support_email }}</a></p>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
{% endblock %}
{% block page_js %}
    <!-- Plugin JavaScript -->
    <!-- Easing is for the vertical scroll animations -->
    <script src="{% static 'creative/js/jquery.easing.min.js' %}"></script>
    <!-- Automatically fit text based on screen size.-->
    <script src="{% static 'creative/js/jquery.fittext.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'creative/js/creative.js' %}"></script>
{% endblock %}
